@use "sass:math";

$image-ratio: math.div(640, 1024);

.cards {
    display: grid;
    gap: 10px;
    grid-template-columns: repeat(3, 1fr);

    &:not(:last-child) {
        margin-bottom: $content-gap;
    }
}

.card.common {
    background: white;
    box-shadow: 0 8px 16px rgba(black, 0.1);
    text-align: center;

    // https://css-tricks.com/aspect-ratio-boxes/
    .card-image {
        background: whitesmoke;
        overflow: hidden;
        padding-top: $image-ratio * 100%;

        height: 0;

        position: relative;

        img {
            object-fit: cover;

            width: 100%;
            height: 100%;

            position: absolute;
            top: 0;
            left: 0;
        }
    }

    .card-body {
        padding: 20px;
    }

    .card-title {
        margin-bottom: 10px;
    }

    .card-content {
        text-align: inherit;
        text-indent: 0;
    }
}
