@import "common";

#content {
    .card.simple {
        text-align: center;

        img {
            width: 100%;
        }

        .description,
        .title {
            margin: 20px;
        }
    }
}
