@import "../variables";
@import "common";

#content {
    .team {
        &.cards-container {
            grid-template-columns: repeat(2, 1fr);
        }

        &.card {
            border: 1px solid #eee;
            border-radius: 5px;
            line-height: 1.5em;
            padding: 10px;

            display: grid;
            gap: 10px;
            grid-template-columns: auto 1fr;

            .avatar {
                border-radius: 50%;

                width: 75px;
            }

            .content {
                align-self: center;
            }

            .name {
                margin: 0 !important;
            }

            .nickname {
                color: #a0a0a0;
            }

            .social-links {
                a {
                    $size: 1.2em;

                    color: #a0a0a0;
                    display: inline-block;
                    font-size: $size;
                    text-align: center;

                    width: $size;

                    &:hover {
                        color: $accent-color;
                        text-decoration: none;
                    }
                }

                .discord {
                    color: #808080;
                }
            }
        }
    }
}
