header
    .logo
        a(href="/")
            img(src="~/assets/lt.svg")

    .flex-grow

    menu
        ul
            each name in getMenuList()
                li
                    a(class={"current": name == menuEntry}, href=getMenuEntry(name))= name
