extends ../../layout.pug

block settings
    - var title = "Gallery";
    - var menuEntry = "Gallery";
    - var description = "Screenshots showing off the resource pack";
    - var css = "gallery";

mixin column(filter)
    .gallery__column
        for url in gallery.filter(filter)
            a.gallery__column__item(href=url, target="_blank")
                img.gallery__column__item__image(src=url)

block content
    h2 Showcase
    p Take a look at this resourcepack in action!

    .gallery
        +column((_, i) => i % 3 === 0)
        +column((_, i) => i % 3 === 1)
        +column((_, i) => i % 3 === 2)
