extends ../layout.pug

block settings
    - var title = "Page not found";
    - var description = "You've discovered a page that doesn't exist. Make sure you have the correct link.";
    - var css = "404";

block content
    .number 404
    .title Page not found
    .description You've discovered a page that doesn't exist. Make sure you have the correct link. Or use navigation at the top
    .actions
        a(href=r`/`) Go home
