---
import TeamCard from "@/components/TeamCard.astro";
import { TeamMembers } from "@/data/team/list";
import Layout from "../../layouts/Layout.astro";
import { Content as Credits } from "./_credits.md";

const title = "Team";
const description = "Team of the resource pack development and credits to other contributors and used resources";
const menuEntry = "Team";
---

<Layout title={title} description={description} menuEntry={menuEntry}>
  <h2>The Development team</h2>

  <div class="hcards">
    {TeamMembers.map((member) => <TeamCard {...member} />)}
  </div>

  <Credits />
</Layout>
