mixin addon-card(card)
    .card.simple
        img(src=`/assets/cards/${card.image}.png`)
        h2.title
            a(href=card.url, target="_blank")= card.title
        .description!= markdown(card.description)

mixin addon-cards-container(cards)
    .cards-container
        each card in cards
            +addon-card(card)
