mixin card(card)
    .card.simple
        img(src=`/assets/cards/${card.image}.png`)
        h2.title= card.title
        .description!= markdown(card.description)

mixin cards-container(cards)
    .cards-container
        each card in cards
            +card(card)
