mixin download-card(icon, edition, entryName, extra = "")
    - var entry = data.downloads[entryName];
    - var version = Object.keys(entry)[0];
    - var url = entry[version];

    +card({
        "figure": `downloads/${icon}.png`,
        "title": `${edition} Edition v${version}`,
        "content": extra,
        "url": url
    }, true)
