header
    .logo
        a(href=r`/`)
            img(src=r`assets/lt.svg`, alt="Love & Tolerance logo")

    .flex-grow

    nav
        ul
            each path, name in data.menu
                li
                    a(class={"current": name == menuEntry}, href=path)= name
