@import "../variables";
@import "home/intro";
@import "home/gallery";

body {
    padding-top: 0;
}

main {
    & > p,
    & > h1 {
        text-align: center;
    }

    & > p {
        text-indent: 0;
    }
}

.did-you-know {
    background: #404040;
    color: #eee;
    margin: $content-padding (-$content-padding) (-$content-padding);
    padding: $content-padding;
    text-align: center;

    p {
        text-align: center;
        text-indent: 0;
    }

    iframe {
        display: block;
        margin: 1em auto 0;

        $ratio: 16 / 9;
        $width: $body-width - $content-padding * 2;
        $height: round($width / $ratio);

        width: $width;
        height: $height;
    }
}
