@import "../variables";
@import "../cards/simple";

$banner-url: url("~/assets/pages/home/banner.png");
$cards-overlap: 50px;

body {
    padding-top: 0;
}

#content {
    .intro {
        background: $banner-url no-repeat center / cover, #707070;
        background-blend-mode: multiply;
        color: white;
        margin: (-$content-padding) (-$content-padding) (-$cards-overlap);
        padding: $menu-height 0 $cards-overlap;

        display: grid;
        align-items: center;
        grid-template-columns: auto auto;

        &__description {
            padding: $content-padding;

            &__logo {
                display: block;
                margin: 1em auto;
            }
        }

        &__side {
            padding: $content-padding;
            text-align: center;

            flex-basis: 512px;
        }

        &__download {
            background: $accent-color;
            border-radius: 5px;
            color: white;
            display: block;
            font-size: 1.5em;
            font-weight: 700;
            padding: 10px 20px;
            text-align: center;

            &:active {
                transform: translateY(1px);
            }
        }

        &__servers {
            font-size: 1.2em;
            white-space: nowrap;

            &__title {
                margin: 20px !important;
            }

            &__server {
                background: rgba(white, 0.1);
                border-radius: 5px;
                margin: 10px 0;
                padding: 10px;

                &__host {
                    font-size: 1.2em;
                }
            }
        }

        &__links {
            margin: 20px 0;

            &__link {
                color: inherit;
                display: inline-block;
                border-bottom: 1px dashed;
                margin: 0 5px;
                text-decoration: none;

                &:hover {
                    border-bottom-style: solid;
                }
            }
        }

        &__discord-invite {
            margin-top: 20px;

            &__logo {
                height: 5em;
            }
        }
    }

    .fun-fact {
        margin-top: 1em;
        text-align: center;

        &__description {
            margin: 1em;
            text-align: inherit;
            text-indent: 0;
        }
    }
}
