@import "./variables";

main {
    text-align: center;

    display: flex;
    flex-direction: column;
    justify-content: center;

    & > :not(:last-child) {
        margin-bottom: $content-gap;
    }
}

.number {
    color: adjust-color($primary-color, $hue: -50deg, $saturation: -30, $lightness: -10);
    font-size: 10em;
    font-weight: bold;
}

.title {
    font-size: 2em;
    font-style: italic;
    font-weight: bold;
}

.description {
    font-size: 1.2em;
}

.actions a {
    background: $primary-color;
    border-radius: 5px;
    color: white;
    display: inline-block;
    font-size: 1.2em;
    padding: 7px 10px;
}
