@import "variables";

main {
    // prettier-ignore
    h1, h2, h3, h4, h5, h6,
    p, img, ul {
        &:not(:last-child) {
            margin-bottom: $content-gap;
        }
    }

    .header-anchor {
        color: #c0c0c0;

        &:hover {
            color: #808080;
        }
    }

    // https://stackoverflow.com/a/22655654
    [id]:target::before {
        $size: $menu-height + 5px;

        content: "";

        display: block;
        margin-top: -$size;

        height: $size;
    }

    a {
        color: $primary-color;
        text-decoration: none;

        &:hover {
            text-decoration: underline;
        }
    }

    ul {
        padding-left: 2em;
    }

    li {
        line-height: 1.25;
        text-align: justify;
    }

    p {
        text-align: justify;
        text-indent: 2em;

        img {
            display: block;
            margin: auto;

            max-width: 100%;
        }
    }

    code {
        background: #eee;
        border-radius: 3px;
        padding: 2px 5px;
        white-space: nowrap;
    }
}
