.flex {
  display: flex;
  flex-direction: column;
  gap: var(--margin);

  &--xsmall {
    gap: calc(var(--margin) / 4);
  }

  &--small {
    gap: calc(var(--margin) / 2);
  }

  &--row {
    flex-direction: row;
    flex-wrap: wrap;
  }

  &--center {
    align-items: center;
  }
}
