@import "variables";

#content {
    .header-anchor {
        color: #c0c0c0;

        &:hover {
            color: #808080;
        }
    }

    // https://stackoverflow.com/a/22655654
    [id]:target::before {
        content: "";

        display: block;
        margin-top: -$menu-height;

        height: $menu-height;
    }

    h1,
    h2,
    h3,
    h4,
    h5,
    h6 {
        margin: 1em 0 0.5em;

        &:first-child {
            margin-top: 0;
        }
    }

    a {
        color: $accent-color;
        text-decoration: none;

        &:hover {
            text-decoration: underline;
        }
    }

    li {
        line-height: 1.25;
        text-align: justify;
    }

    p {
        text-align: justify;
        text-indent: 2em;

        img {
            display: block;
            margin: 1em auto;

            max-width: 100%;
        }
    }

    code {
        background: #eee;
        border-radius: 3px;
        padding: 2px 5px;
        white-space: nowrap;
    }

    .button {
        background: $accent-color;
        border: 0;
        border-radius: 5px;
        box-shadow: 0 4px 8px rgba(black, 0.1);
        color: white;
        display: block;
        font: inherit;
        font-weight: bold;
        outline: none;
        padding: 10px 20px;
        text-align: center;

        &:active {
            transform: translateY(1px);
        }
    }

    label {
        user-select: none;
    }
}
