@import "variables";

#content {
    .table-of-contents {
        margin-bottom: 1em;

        &::before {
            content: "Contents";

            font-size: 1.2em;
            font-weight: bold;
        }
    }

    .header-anchor {
        color: #c0c0c0;

        &:hover {
            color: #808080;
        }
    }

    h1,
    h2,
    h3,
    h4,
    h5,
    h6 {
        margin: 1em 0 0.5em;

        &:first-child {
            margin-top: 0;
        }

        // https://stackoverflow.com/a/22655654
        &:target::before {
            content: "";

            display: block;
            margin-top: -$menu-height;

            height: $menu-height;
        }
    }

    a {
        color: $accent-color;
        text-decoration: none;

        &:hover {
            text-decoration: underline;
        }
    }

    ul,
    ol {
        margin: 10px;
        margin-left: 2em;

        li {
            margin: 0.25em 0;
            text-align: justify;
        }
    }

    p {
        margin: 10px 0;
        text-align: justify;
        text-indent: 2em;

        img {
            display: block;
            margin: 1em auto;

            max-width: 100%;
        }

        &.images {
            text-indent: 0;

            display: flex;
            align-items: center;

            img {
                margin: 0.5em 10px;
                width: 0;
                flex-grow: 1;
            }
        }
    }

    code {
        background: #eee;
        border-radius: 3px;
        padding: 2px 5px;
        white-space: nowrap;
    }

    blockquote {
        margin: 20px 0;

        p {
            background: whitesmoke;
            border-radius: 5px;
            border-left: 5px solid #eee;
            display: inline-block;
            margin: 0 !important;
            padding: 20px 30px;
            text-indent: 0;
        }
    }

    table {
        tbody tr:nth-child(odd) {
            background: #eee;
        }

        th,
        td {
            padding: 5px 10px;
        }
    }
}
