$icon-size: 70px;

#content {
    .cards-container {
        display: grid;
        gap: 10px;
        grid-template-columns: repeat(3, 1fr);

        &--team {
            grid-template-columns: repeat(2, 1fr);
        }
    }

    .card {
        background: white;
        box-shadow: 0 8px 16px rgba(black, 0.1);

        &--simple {
            text-align: center;

            &__image {
                width: 100%;
            }

            &__description,
            &__title {
                margin: 20px;
            }
        }

        &--team {
            border: 1px solid #eee;
            border-radius: 5px;
            line-height: 1.5em;
            padding: 10px;

            display: grid;
            gap: 10px;
            grid-template-columns: auto 1fr;

            &__avatar {
                border-radius: 50%;

                width: 75px;
            }

            &__content {
                align-self: center;
            }

            &__name {
                margin: 0 !important;
            }

            &__nickname {
                color: #a0a0a0;
            }

            &__social-links {
                &__link {
                    $size: 1.2em;

                    color: #a0a0a0;
                    display: inline-block;
                    font-size: $size;
                    text-align: center;

                    width: $size;

                    &:hover {
                        color: $accent-color;
                        text-decoration: none;
                    }
                }

                &__discord {
                    color: #808080;
                }
            }
        }
    }
}
