$icon-size: 70px;

#content {
    .cards--container {
        display: grid;
        gap: 10px;
        grid-template-columns: repeat(3, 1fr);
    }

    .card {
        background: white;
        box-shadow: 0 8px 16px rgba(black, 0.1);
        text-align: center;

        img {
            width: 100%;
        }

        &--description,
        &--title {
            margin: 20px;
        }
    }

    .cards--container__team {
        display: grid;
        gap: 10px;
        grid-template-columns: repeat(2, 1fr);
    }

    .card--team {
        background: white;
        box-shadow: 0 2px 8px rgba(black, 0.1);
        border: 1px solid #eee;
        border-radius: 5px;
        line-height: 1.5em;
        padding: 10px;

        display: grid;
        gap: 10px;
        grid-template-columns: auto 1fr;

        img {
            border-radius: 50%;

            width: 75px;
        }

        &__content {
            align-self: center;
        }

        &__name {
            margin: 0 !important;
        }

        &__nickname {
            color: #a0a0a0;
        }

        &__discord {
            color: #808080;

            &:not(:first-child) {
                margin-left: 0.5em;
            }
        }

        &__social a {
            $size: 1.2em;

            display: inline-block;
            font-size: $size;
            text-align: center;
            text-decoration: none !important;

            width: $size;

            &:not(:hover) {
                color: #a0a0a0 !important;
            }
        }
    }
}
