@use "variables";
@use "_mixins/typography";
@use "_mixins/media";

@use "flex";
@use "grid";

@use "icons";
@use "images";
@use "buttons";
@use "select";
@use "cards";
@use "_cards/hcard";

:root {
  --color-primary: #{variables.$color-primary};
  --color-primary-hover: #{variables.$color-primary-hover};
  --color-primary-active: #{variables.$color-primary-active};
  --color-primary-border: #{variables.$color-primary-border};

  --color-kofi: #{variables.$color-kofi};
  --color-kofi-hover: #{variables.$color-kofi-hover};
  --color-kofi-active: #{variables.$color-kofi-active};
  --color-kofi-border: #{variables.$color-kofi-border};

  --color-light: #{variables.$color-light};
  --color-light-hover: #{variables.$color-light-hover};
  --color-light-active: #{variables.$color-light-active};
  --color-light-border: #{variables.$color-light-border};

  --color-white: #{variables.$color-white};
  --color-gray-100: #{variables.$color-gray-100};
  --color-gray-200: #{variables.$color-gray-200};
  --color-gray-300: #{variables.$color-gray-300};
  --color-gray-400: #{variables.$color-gray-400};
  --color-gray-500: #{variables.$color-gray-500};
  --color-gray-600: #{variables.$color-gray-600};
  --color-gray-700: #{variables.$color-gray-700};
  --color-gray-800: #{variables.$color-gray-800};
  --color-gray-900: #{variables.$color-gray-900};

  --color-black: #{variables.$color-black};
  --color-black-75: #{rgba(variables.$color-black, 0.75)};
  --color-black-50: #{rgba(variables.$color-black, 0.5)};
  --color-black-25: #{rgba(variables.$color-black, 0.25)};
  --color-black-10: #{rgba(variables.$color-black, 0.1)};
  --color-black-5: #{rgba(variables.$color-black, 0.05)};

  --color-primary-transparent: #{variables.$color-primary-transparent};
  --color-white-transparent: #{variables.$color-white-transparent};
  --color-shadow: #{variables.$color-shadow};

  --box-shadow: 0 0 16px var(--color-shadow);
  --drop-shadow: 0px 0px 1px rgba(0, 0, 0, 0.25), 0px 0px 4px rgba(0, 0, 0, 0.04), 0px 4px 8px rgba(0, 0, 0, 0.06);

  --max-content-width: #{variables.$max-content-width};

  --margin: #{variables.$margin};
  --margin-lg: calc(var(--margin) * 2);
  --margin-md: calc(var(--margin) / 2);
  --margin-sm: calc(var(--margin) / 4);
  --margin-xsm: calc(var(--margin) / 8);

  --gutter: var(--margin);

  --border-radius: #{variables.$border-radius};

  --header-height: #{variables.$header-height};

  @include media.media(sm) {
    --gutter: #{variables.$gutter};
  }
}

* {
  margin: 0;
  border: 0;
  padding: 0;
  outline: none;
  box-sizing: border-box;
}

@include typography.heading(1, 40, 48);
@include typography.heading(2, 32, 40);
@include typography.heading(3, 28, 32);
@include typography.heading(4, 24, 32);
@include typography.heading(5, 20, 24);
@include typography.heading(6, 16, 24);

body {
  @include typography.font();

  color: var(--color-black);
}

a {
  color: var(--color-primary);
  text-decoration: none;

  &:hover {
    color: var(--color-primary-hover);
    text-decoration: underline;
  }

  &:active {
    color: var(--color-primary-active);
  }
}

ul,
ol {
  margin-left: 1.5em;
}

code {
  background: var(--color-light);
  border: 1px solid var(--color-light-border);
  border-radius: 0.25em;
  padding: 0.25em;
}

p img {
  display: block;
  margin: 0 auto;

  max-width: 100%;
}

ul img {
  margin: var(--margin) auto;
}

.text-muted {
  color: var(--color-black-50);
}
