---
import Card from "./Contact.astro";
import { ContactCardsInfo } from "./types";

export type Props = ContactCardsInfo;

const Props = Astro.props as Props;
---

<div class="grid grid--col-2">
  {Props.cards.map((card) => <Card {...card} namespace={Props.name} />)}
</div>
