---
import Card from "./Normal.astro";
import { NormalCardsInfo } from "./types";

export type Props = NormalCardsInfo;

const Props = Astro.props as Props;
---

<div class="cards">
  {Props.cards.map((card) => <Card {...card} namespace={Props.name} />)}
</div>

<style lang="scss">
  .cards {
    --columns: 1;

    display: grid;
    grid-template-columns: repeat(var(--columns), 1fr);
    gap: var(--margin);

    @media (min-width: 700px) {
      --columns: 2;
    }

    @media (min-width: 900px) {
      --columns: 3;
    }
  }
</style>
