mixin addon-card(card)
    .card.card--simple
        img.card--simple__image(src=`~/assets/cards/${card.image}.png`)
        h2.card--simple__title
            a(href=card.url, target="_blank")= card.title
        .card--simple__description!= markdown(card.description, { inline: true })

mixin addon-cards-container(cards)
    .cards-container
        each card in cards
            +addon-card(card)
