---
import Layout from "../layouts/Layout.astro";

const title = "Page not found";
const description =
  "You've discovered a page that doesn't exist. Make sure you have the correct link.";
---

<Layout title={title} description={description}>
  <div class="flex">
    <div class="number">404</div>
    <div class="title">{title}</div>
    <div class="description">{description} Or use navigation at the top.</div>
    <div class="flex flex--row">
      <a class="btn btn--primary btn--medium" href="/">Go home</a>
    </div>
  </div>
</Layout>

<style lang="scss">
  .container {
    text-align: center;

    justify-content: center;
  }

  .number {
    color: var(--color-primary);
    font-size: 10em;
    font-weight: bold;
  }

  .title {
    font-size: 2em;
    font-weight: bold;
  }

  .description {
    font-size: 1.25em;
  }
</style>
