---
import Cards from "../components/Cards.astro";
import { NormalCardsInfo } from "../components/cards/types";
import Server from "../components/Server.svelte";
import Swiper from "../components/Swiper.svelte";
import YouTube from "../components/YouTube.astro";
import Features from "../data/cards/features.json";
import Links from "../data/links.json";
import Servers from "../data/servers.json";
import Layout from "../layouts/Layout.astro";

const globs = await Astro.glob("../../public/home/screenshots/*");
const images = globs.map((glob) => (glob["default"] as string).replace("/public", ""));

function link(name: keyof typeof Links, path?: string): URL {
  const url = new URL(Links[name]);

  if (path !== undefined) {
    return new URL(path, url);
  }

  return url;
}
---

<Layout title="Home" menuEntry="Home">
  <div class="hero">
    <div class="hero__content flex">
      <div class="hero__section flex">
        <img class="hero__logo" src="/logo.svg" alt="Love & Tolerance logo" />
        <h3>A My Little Pony: Friendship is Magic Inspired Resource Pack!</h3>
        <p>
          However, this is only in the sense that it's brightly colored and features some mild pony references, meaning it's not overtly pony-themed
          and won't make your world look totally different.
        </p>
      </div>

      <div class="hero__section flex">
        <a href="/downloads" class="btn btn--primary btn--large btn--fill"> Download</a>

        <div class="hero__servers flex flex--small">
          <h5 class="hero__servers-title">Our Minecraft servers</h5>

          {Servers.map((server) => <Server server={server} client:load />)}
        </div>

        <a class="btn btn--kofi btn--medium btn--grid btn--fill" href={link("kofi")}>
          <span class="btn-icon btn-icon--left">
            <img src="/Kofi_pixel_logo.png" alt="Ko-fi logo" />
          </span>

          <span class="btn-label">Support us on Ko-fi</span>

          <span class="btn-icon btn-icon--right">
            <i class="fas fa-arrow-up-right-from-square"></i>
          </span>
        </a>

        <div class="links">
          <div class="flex flex--small flex--row">
            <a class="link" href={link("githubRepo")}>GitHub</a>
            <a class="link" href={link("githubRepo", "./issues")}>Issues</a>
            <a class="link" href={link("googleArchive")}>Archive</a>
          </div>

          <a class="link link--discord" href={link("discordInvite")} title="Join our Discord server!">
            <img src="/discord-logo.svg" alt="Discord logo" />
          </a>
        </div>
      </div>
    </div>
  </div>

  <div class="home-content flex">
    <Cards cards={Features as NormalCardsInfo} />

    <h2>Showcase</h2>
    <Swiper images={images} client:load />
  </div>

  <div class="did-you-know flex">
    <h2>Did you know?</h2>
    <p>This pack's style is used in Jan Animation Studios' popular animation "Don't Mine at Night"</p>
    <YouTube video="X_TMtgjQuZI" />
  </div>
</Layout>

<style lang="scss">
  :root {
    --cards-overlap: var(--gutter);
  }

  :global(.body-content__main) {
    margin: 0 !important;
    padding: 0 !important;

    gap: 0 !important;
  }

  .home-content {
    padding: 0 var(--gutter) var(--gutter);
    margin-top: calc(-1 * var(--cards-overlap));

    h1,
    h2,
    h3,
    h4,
    h5,
    h6 {
      text-align: center;
    }
  }

  .hero {
    background: url("/home/hero.png") no-repeat center / cover, rgba(black, 0.5);
    background-blend-mode: multiply;
    color: var(--color-white);
    padding-top: var(--header-height);
    padding-bottom: var(--cards-overlap);

    &__content {
      padding: var(--gutter);
    }

    &__logo {
      display: block;
      margin: 0 auto;

      max-width: 32rem;
      width: 100%;
    }

    &__servers {
      &-title {
        text-align: center;
      }
    }

    .links {
      display: flex;
      align-items: center;
      flex-wrap: wrap;
      justify-content: space-between;
    }

    .link {
      color: inherit !important;
      opacity: 0.75;
      text-decoration: underline;
      transition: opacity 100ms;

      &:hover {
        opacity: 1;
      }

      &--discord img {
        display: block;
        pointer-events: none;

        height: 3em;
      }
    }
  }

  .did-you-know {
    background: var(--color-gray-200);
    color: var(--color-gray-900);
    padding: var(--gutter);
    text-align: center;
  }

  @media (min-width: 800px) {
    .hero {
      &__content {
        display: grid !important;
        gap: var(--gutter) !important;
        grid-template-columns: 1fr 350px;
      }
    }
  }
</style>
