@use "../_mixins/media";
@use "../_mixins/typography";
@use "../hstack";

.hcards {
  display: flex;
  flex-direction: column;
  gap: var(--margin);

  @include media.media(md) {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }
}

.hcard {
  box-shadow: var(--drop-shadow);
  border-radius: var(--border-radius);
  overflow: hidden;

  display: flex;
  flex-direction: column;

  &-active {
    box-shadow: 0 0 0 2px var(--color-primary);
  }

  &-header,
  &-footer {
    background: var(--color-black-5);
    color: var(--color-black-75);
    padding: var(--margin-md) var(--margin);

    @include hstack.hstack();
    flex-wrap: wrap;
    gap: var(--margin);

    a {
      color: var(--color-black-75);
      text-decoration: underline;
    }
  }

  &-header {
    border-bottom: 1px solid var(--color-black-10);
  }

  &-footer {
    border-top: 1px solid var(--color-black-10);
  }

  &-body {
    padding: var(--margin);

    display: flex;
    flex-direction: row;
    gap: var(--margin);
  }

  &-image,
  &-avatar {
    img {
      display: block;
    }
  }

  &-image {
    // As of adding this rule hcard-image is only used for addon cards
    img {
      width: 64px;
    }

    &--muted {
      filter: grayscale(1);
      opacity: 0.75;
    }
  }

  &-avatar {
    img {
      // 3 line-heights + 2 gaps
      --size: calc(1.5em * 3 + var(--margin-sm) * 2);

      border-radius: 50%;
      object-fit: cover;

      width: var(--size);
      height: var(--size);
    }
  }

  &-content {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    gap: var(--margin-sm);
  }

  &-title {
    &,
    &__left,
    &__right {
      @include hstack.hstack();
    }

    &__left {
      flex-grow: 1;
    }

    &__right {
      gap: var(--margin-md);
    }
  }

  &-mc-nickname {
    @include typography.font(20, 24, monospace, 700);

    color: var(--color-black-50);
  }

  &-actions {
    @include hstack.hstack();

    flex-wrap: wrap;
  }
}
