@import "../../../node_modules/swiper/swiper.scss";
@import "../../../node_modules/swiper/components/navigation/navigation.scss";

@import "../variables";

$gallery-height: 512px;

.swiper-slide {
    background: #eee;
    object-fit: cover;
}

.gallery {
    background: #303030;
    box-shadow: 0 8px 16px rgba(black, 0.25);

    &-top {
        width: 100%;
        height: $gallery-height;
    }

    &-thumbs {
        box-sizing: border-box;
        padding: 10px 0;

        height: round($gallery-height * 0.3);

        .swiper {
            &-slide {
                opacity: 0.4;
                transition: opacity 100ms;

                width: 25%;
                height: 100%;

                &:hover,
                &-thumb-active {
                    opacity: 1;
                }
            }
        }
    }
}
