<footer class="footer">
  <p class="footer__line">
    Site design &copy; {new Date().getFullYear()} love-tolerance.com
  </p>

  <p class="footer__line">Minecraft &copy; Mojang AB</p>

  <p class="footer__line">
    My Little Pony: Friendship is Magic &copy; Hasbro, Inc.
  </p>
</footer>

<style lang="scss">
  .footer {
    background: var(--color-gray-100);
    color: var(--color-gray-500);
    padding: var(--gutter);
    text-align: center;
  }
</style>
