extends ../../layout.pug

include ../../partials/cards/download.pug

block settings
    - var title = "Downloads";
    - var menuEntry = "Downloads";
    - var description = "Download Love & Tolerance resource pack for Minecraft Java and Bedrock editions"
    - var css = "downloads";

block content
    +md("## Latest releases")

    .cards
        +download-card("grass-block", "Java", "java")
        +download-card("bedrock", "Bedrock", "bedrock")
        +download-card("bedrock", "Bedrock", "bedrockExperimental", "Experimental WIP")

    +md("## All Java Edition releases")

    .java-releases
        for url, version in data.downloads.java
            a(href=url, target="_blank")= version

    include:markdown installation.md
