@use "sass:map";

$breakpoints: (
  sm: 576px,
  md: 768px,
  lg: 992px,
  xl: 1200px,
);

@mixin media($breakpoint: sm) {
  @media (min-width: map.get($breakpoints, $breakpoint)) {
    @content;
  }
}
